---
layout: page
title: Corax
permalink: /projects/corax/
---

<!-- Section 1  -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Corax</h1>
          <p>LifeBox for burn care</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2  -->
<section id="corax_one">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="block text-center">
          <h2>The Burn Crisis</h2>
          <p>Every year</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="counter-box clearfix" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
          {% for ff in site.data.burns %}
          <div id="item">
            <div class="block">
              <i class="{{ ff.icon }}"></i>
              <div>
                <h4 class="counter">{{ ff.counter }}</h4>
                <h4>{{ ff.unit }}</h4>
              </div>
              <span>{{ ff.text }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 3  -->
<div id="global-header">
  <section id="corax_two">
    <div class="container">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
          {% for ff in site.data.problems %}
          <div>
            <div style="position: relative;">
              <img src="{{ site.baseurl }}/img/corax/{{ ff.image }}" alt="">
              <div class="content">
                <div>
                  <h2>{{ ff.name }}</h2>
                  <p>{{ ff.description }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>
</div>

<!-- Section 4  -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Solution</h2>
            <p>Corax life box - An armor to protect the defenseless</p>
          </div>
          <p>An innovative, flexible and lightweight tent that allows the treatment and safe transportation of patients with severe burns or low immune defenses. It creates an aseptic and controlled micro-environment, reproducing in a transportable and low-cost device the features of a room of Burn Intensive Care Unit (BICU). The flexible part is washable and there are no disposables, solving the problem of supplies and disposal. Our device controls the chemical and physical properties of the air, temperature, humidity preventing infections that are the main cause of death.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" style="padding-top: 50px;">
          <img src="{{ site.baseurl}}/img/corax/device.png" alt="device">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 50px; justify-content: space-evenly;">
      {% for ff in site.data.features %}
      <div class="feature-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 150px">
        <i class="{{ ff.icon }}"></i>
        <!-- <h4> {{ ff.title }}</h4> -->
        <p style="text-align: center;"> {{ ff.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Section 6  -->
<div id="global-header">
  <div style="display: flex; justify-content: center; align-items: center;">
    <video width="70%" height="auto" controls style="z-index: 100;">
      <source src="{{ site.baseurl }}/img/corax/corax.mp4" type="video/mp4">
    </video>
  </div>
</div>

