---
layout: page
title: Bioverse
permalink: /
---

<!-- Section 1 -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">BioVerse</h1>
          <p class="animated fadeInUp">Caterina accessible anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2  -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>A revolutionary approach</h2>
          </div>
          <p>Bioverse develops new biomedical technologies for emergency and developing contexts. Our team of engineers believes that the development of new technologies starting from the real needs and an accurate analysis of the resources, can reduce the gap in health care between the different world areas.</p>
          <p>Sustainable Development Goals (SDGs), clearly indicate that the health care discrepancy between countries is not acceptable. To satisfy the SDG3, Bioverse aims to fight the critical components of public health, in particular with objective 3.2 in mind, that of preventing infant mortality.</p>
          <p>Our starting project is Corax</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/projects/corax" >Explore It</a>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" style="padding-top: 50px;">
          <img src="{{ site.baseurl}}/img/vision.png" alt="device">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Section 3  -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Milestones</h1>
          <img src="{{ site.baseurl}}/img/milestone.png" alt="milestones" style="width: 100%;">      
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 4  -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>What they say about us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.references.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.references %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <!-- <img src="{{ tm.image }}" alt="Pepole"> -->
                  <p>{{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Section 5  -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {% for tm in site.data.articles %}
            <div class="clients-logo-img">
              <a href="{{ tm.link }}">
                <!-- <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features"> -->
                <p style="color: #fff;">{{ tm.source }}</p>
              </a>
            </div>
            {% endfor %}
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2  -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center;">
          <div class="section-title">
            <h2>Support Us</h2>
          </div>
          <p>You can help us on</p>
          <a class="btn btn-default btn-call-to-action" href="https://www.gofundme.com/f/aiutaci-a-proteggere-i-bambini-ustionati">GoFundMe</a>
        </div>
      </div>
    </div>
  </div>
</section>