---
layout: page
title: Team
permalink: /team/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Team</h1>
          <p>We combine our skill to solve the challenges of emergency setting.</p>
          <p>We love our work and we are sure you will love it too!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team  -->
<section id="team" style="flex: 1;display: flex;flex-direction: column;justify-content: center;">
  <div class="container">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      {% for ff in site.data.team %}
      <a href="{{ ff.reference }}" style="margin:20px;">
        <div style="position: relative;">
          <img src="{{ site.url }}/img/team/{{ ff.image }}" alt="" width="300px">
          <div class="content">
            <div id="text">
              <h2>{{ ff.name }}</h2>
              <p>{{ ff.title }}</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Contributors</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contributors  -->
<section id="team" style="flex: 1;display: flex;flex-direction: column;justify-content: center;">
  <div class="container">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      {% for ff in site.data.contributors %}
      <a href="{{ ff.reference }}" style="margin:20px;">
        <div style="position: relative;">
          <img src="{{ site.url }}/img/team/{{ ff.image }}" alt="" width="300px">
          <div class="content">
            <div id="text">
              <h2>{{ ff.name }}</h2>
              <p>{{ ff.title }}</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Partners</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Partners -->
<section id="team" style="flex: 1;display: flex;flex-direction: column;justify-content: center;">
  <div class="container">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      {% for ff in site.data.partners %}
      <a href="{{ ff.reference }}" style="margin:20px;">
        <div style="position: relative;">
          <img src="{{ site.url }}/img/team/{{ ff.image }}" alt="" width="300px">
          <div class="content">
            <div id="text">
              <h2>{{ ff.name }}</h2>
              <p>{{ ff.title }}</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>